In [1]:
list1 = [2,3,8,4,6,2]
list1.append(0000)
list1

[2, 3, 8, 4, 6, 2, 0]

In [4]:
list1.insert(2, 100)
list1

[0, 2, 100, 2, 3, 4, 6, 8]

In [5]:
list1.remove(2)   # remove the first one
list1

[0, 100, 2, 3, 4, 6, 8]

In [6]:
print(list1[-2])
print(list1[:3])
print(list1[7:-2])        # for fun

6
[0, 100, 2]
[]

In [7]:
list1[4] = 88
list1

[0, 100, 2, 3, 88, 6, 8]

In [10]:
list1.append(3)
print(list1)
list1.index(3)

[0, 100, 2, 3, 88, 6, 8, 3, 3, 3]

3

In [11]:
list1.count(3)

4

In [12]:
list1.sort(reverse=True) 
print(list1)
list1.sort()
list1

[100, 88, 8, 6, 3, 3, 3, 3, 2, 0]

[0, 2, 3, 3, 3, 3, 6, 8, 88, 100]

In [2]:
# multi-dimension list
mul_list = [[1,2,3],
            [2,3,4],
            [3,4,5]]
print(mul_list[1])
print(mul_list[1][1])

[2, 3, 4]
3