In [2]:
import numpy as np
import pandas as pd

In [3]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.arange(24).reshape(6,4), index=dates, columns=['A','B','C','D'])
df

             A   B   C   D
2013-01-01   0   1   2   3
2013-01-02   4   5   6   7
2013-01-03   8   9  10  11
2013-01-04  12  13  14  15
2013-01-05  16  17  18  19
2013-01-06  20  21  22  23

In [25]:
print(df['A'], '\n', df.A)
print(df[0:3], '\n', df['20130102':'20130105'])  # df['20130102'] error

2013-01-01     0
2013-01-02     4
2013-01-03     8
2013-01-04    12
2013-01-05    16
2013-01-06    20
Freq: D, Name: A, dtype: int32
 2013-01-01     0
2013-01-02     4
2013-01-03     8
2013-01-04    12
2013-01-05    16
2013-01-06    20
Freq: D, Name: A, dtype: int32
            A  B   C   D
2013-01-01  0  1   2   3
2013-01-02  4  5   6   7
2013-01-03  8  9  10  11
              A   B   C   D
2013-01-02   4   5   6   7
2013-01-03   8   9  10  11
2013-01-04  12  13  14  15
2013-01-05  16  17  18  19

In [24]:
# selected by label

print(df.loc['20130101':'20130103'])
print(df.loc['20130101', ['A','B']])

            A  B   C   D
2013-01-01  0  1   2   3
2013-01-02  4  5   6   7
2013-01-03  8  9  10  11
A    0
B    1
Name: 2013-01-01 00:00:00, dtype: int32

In [27]:
# selected by position

print(df)
print(df.iloc[3])
print(df.iloc[3][1])
print(df.iloc[3,1])
print(df.iloc[[1,3,5],:1])

             A   B   C   D
2013-01-01   0   1   2   3
2013-01-02   4   5   6   7
2013-01-03   8   9  10  11
2013-01-04  12  13  14  15
2013-01-05  16  17  18  19
2013-01-06  20  21  22  23
A    12
B    13
C    14
D    15
Name: 2013-01-04 00:00:00, dtype: int32
13
13
             A
2013-01-02   4
2013-01-04  12
2013-01-06  20

In [28]:
# mixed selection   ## deprecated 

print(df.ix[:3, ['A', 'C']])

AttributeError: 'DataFrame' object has no attribute 'ix'

In [29]:
# Boolean indexing

print(df)
print(df[df.A > 8])

             A   B   C   D
2013-01-01   0   1   2   3
2013-01-02   4   5   6   7
2013-01-03   8   9  10  11
2013-01-04  12  13  14  15
2013-01-05  16  17  18  19
2013-01-06  20  21  22  23
             A   B   C   D
2013-01-04  12  13  14  15
2013-01-05  16  17  18  19
2013-01-06  20  21  22  23